@charset "utf-8";
/* CSS Document */

footer {
    background-color: #1E2629;
    position: relative;
    bottom: 0;
    margin-top: 1%;    
}

footer .content {
    padding: 20px 0;
    font-size: 12px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}
.links {
    float: left;
    list-style: none;
    position: absolute;
    left: 28%;
}
.links li {
    float: left;
    margin-right: 10px;
}
.links a {
    color: #778888;
    text-decoration: none;
}
.links a:hover {
    color: white;
}
.social {
    position: absolute;
    right: 0;
    top: 10px;
    color: #778888;
}
.social a {
	text-decoration:none;
}
.social img {
    display: inline-block;
    margin-left: 25px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
.copyright {
    color: #778888;
    margin-top: 5px;
}