@charset "utf-8";
/* CSS Document */

h1 {
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: #1e1e1e;
    background-color: #e7e5e4;
    font-family: 'Gabriela', serif;
    font-size: 90px;
    letter-spacing: .10em;
    text-align: center;
	text-shadow: 10px 5px 5px #767676;
}

h2 {
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: #1e1e1e;
    background-color: #e7e5e4;
    font-family: 'Gabriela', serif;
    font-size: 40px;
    letter-spacing: .10em;
    text-align: center;
}

body {
	background:#292626;
}

#onglets {
	margin-top:10px;
	width: 100%;
	height: auto;
	overflow: hidden;
	left: 0;
	text-align:center;
	background:#000000;
}
#onglets ul li {
	display:inline-block;
	padding: 1%;
	border:1px transparent dashed;
	text-transform:uppercase;
	color:#EBF2F1;
}

#onglets ul li a {
	text-decoration:none;
	color:#B9B7B7;
}

#onglets ul li a:hover {
	color:#EBF2F1;
}

#Ralphabet{
	margin-top: 10px;
	width: 100%;
	height: auto;
	overflow: hidden;
	left: 0;
	text-align:center;
	background:#000000;
}
#Ralphabet ul li {
	display:inline-block;
	padding: 1%;
	border:1px transparent dashed;
	text-transform:uppercase;
	color:#EBF2F1;
}

#Ralphabet ul li a {
	text-decoration:none;
	color:#B9B7B7;
}

#Ralphabet ul li:hover {
	color:#EBF2F1;
	border: 1px dashed #EBF2F1;
}

#Rgenres{
	margin-top: 2px;
	width: 100%;
	height: auto;
	overflow: hidden;
	left: 0;
	text-align:center;
	background:#000000;
}
#Rgenres ul li {
	display:inline-block;
	padding: 1%;
	border:1px transparent dashed;
	text-transform:uppercase;
	color:#EBF2F1;
}

#Rgenres ul li a {
	text-decoration:none;
	color:#B9B7B7;
}

#Rgenres ul li:hover {
	color:#EBF2F1;
	border: 1px dashed #EBF2F1;
}

#description, #topseries, #randseries, #result {
	margin-top: 30px;
	border: 1px dashed #4E4D4D;	
	color:#FFF;
	text-align:center;
}

#description h3, #topseries h3, #randseries h3, #result h3 {
	background:#4E4D4D;
	margin-top:-20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	padding:1%;
}

#topseries ul li, #randseries ul li {
	display:inline-block;
	border:1px solid #FFF;
	text-transform:uppercase;
	width:25%;
	padding:2%;
}

#topseries img, #randseries img {
	height:400px;
	width:300px;	
}

#result h4 {
	background:#4E4D4D;
	margin-top:-5px;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	padding:0.5;
}